img{
    width: 460px;
    height: 460px;
}
h1{
    margin-left: 50px;
    color: green;
}
.nav{
    text-align: center;
    color: #FF5CA4;
}
div{
    text-align: center;
    width: 500px;
    float: left;
    margin: 15px;
    padding: 15px;
    background-color: aliceblue;
    box-sizing: border-box;
}
h5{
    text-decoration: underline ;
    color: gainsboro;
}
a:hover{
    color:blue;
}













