img{
    width: 230px;
    height: 230px;
}
div{
    text-align: center;
    width: 455px;
    float: left;
    margin: 15px;
    padding: 15px;
    background-color: aliceblue;
    box-sizing: border-box;
}
h5{
    text-decoration: underline ;
    color: gainsboro;
}
a:hover{
    color:blue;
}