header{
    background-color: #C19942;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #ffffff;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
}
.main-menu{
    text-align: center;
}
.main-menu .btn{
    width: 100%;
}
.logo a{
    color: #FFFFFF;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
}
.btn-outline-light{
    border: none;
}
.cart-sum{
    color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
}
.cart-item{
    text-align: center;
    justify-content: center;
    line-height: 56px;
}