.a{
    text-align: center;
    background-color: #702C91;
}
.container{
    text-align: center;
    background-color: #fafafa;
    width: 500px;
    height: auto;
}
.pp{
    padding: 20px;
}
.c{
    margin: 20px;
}
